.nav {
    z-index: 1;
    position: fixed;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #a0a0a0;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 5px 16px -5px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
  }
  
  .nav .divisionLine {
    height: 1px;
    border-width: 0px;
    margin: 0px;
  }
    
  @media screen and (max-width: 1090px) {
    .nav {
      left: initial;
      top: initial;
      bottom: 0px;
      width: 100%;
    }
  }
  
  .nav .nav_btn {
    background-color: white;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    margin: 0px;
    cursor: pointer;
  }
  
  .nav_btn:hover {
    background: lightgray;
    color: white;
  }
  
  .nav .nav_home {
    border-radius: 5px 5px 0px 0px;
  }
  
  .nav .nav_last {
    border-radius: 0px 0px 5px 5px;
  }

.nav a{
  text-decoration: none;
  color: rgb(255, 255, 240);
  font-size: 1.5rem;
}